@charset "UTF-8";
/*** Base ***/ /*** Base del sitio ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
}

/*** Estructura del sitio ***/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.header {
  display: flex;
  flex-direction: row;
}

.img-salon-eventos {
  grid-column: 7/12;
}
@media screen and (max-width: 767px) {
  .img-salon-eventos {
    grid-column: 2/-2;
  }
}
@media screen and (max-width: 400px) {
  .img-salon-eventos {
    grid-column: 2/-2;
  }
}

.parrafo-reserva,
.derechos {
  text-align: center;
}

.parrafo-tiare,
.texto-servicio,
.opcion,
.parrafo-empresa {
  text-align: justify;
}

.textos-tiare {
  grid-column: 2/6;
}

.button-uno {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.titulo-servicios {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.items {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .items {
    flex-direction: column;
  }
}

.texto-reservas {
  grid-column: 1/-1;
  text-align: center;
}

.opcion-de-reserva {
  grid-column: 2/-2;
  display: flex;
}
@media screen and (max-width: 767px) {
  .opcion-de-reserva {
    grid-column: 2/-2;
  }
}
@media screen and (max-width: 400px) {
  .opcion-de-reserva {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 767px) {
  .nuestra-empresa {
    flex-wrap: wrap;
  }
}

.textos-nuestra-empresa {
  grid-column: 7/-2;
  grid-row: 1/-1;
}
@media screen and (max-width: 767px) {
  .textos-nuestra-empresa {
    grid-column: 2/-1;
    grid-row: 1/2;
    text-align: justify;
  }
}

.img-nuestra-empresa {
  grid-column: 2/6;
  grid-row: 2/-1;
}
@media screen and (max-width: 767px) {
  .img-nuestra-empresa {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 767px) {
  .scroll a {
    display: none;
  }
}

.float {
  position: fixed;
}

.texto-footer {
  grid-column: 1/-1;
  text-align: center;
}

[class^=footer-item] {
  grid-column: span 4;
}
@media screen and (max-width: 400px) {
  [class^=footer-item] {
    grid-column: span 2;
  }
}

/*** Medidas del sitio ***/
.navbar > .container {
  height: 90px;
}
@media screen and (max-width: 767px) {
  .navbar > .container {
    height: 80px;
  }
}
@media screen and (max-width: 400px) {
  .navbar > .container {
    height: 70px;
  }
}

.img-logo {
  width: 100px;
  height: auto;
  margin-left: 35px;
}
@media screen and (max-width: 767px) {
  .img-logo {
    width: 90px;
  }
}
@media screen and (max-width: 400px) {
  .img-logo {
    width: 70px;
  }
}

.navbar-light .navbar-toggler {
  width: 30px;
  height: 15px;
}

.navbar-nav {
  padding-bottom: 5px;
}

.nav-link:hover {
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .nav-link {
    margin: 2px 10px;
  }
}
@media screen and (max-width: 400px) {
  .nav-link {
    margin: 2px 10px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-collapse {
    padding: 5px;
  }
}

.header {
  height: 700px;
}
@media screen and (max-width: 767px) {
  .header {
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  .header {
    height: auto;
    padding: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .titulo-tiare {
    margin-top: 10px;
  }
}

.parrafo-tiare {
  margin-bottom: 20px;
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .img {
    max-width: 90%;
    margin: 0 20px 40px 20px;
  }
}
@media screen and (max-width: 400px) {
  .img {
    max-width: 80%;
    margin: 0 20px 30px 30px;
  }
}

.textos-tiare {
  margin-left: 30px;
}
@media screen and (max-width: 767px) {
  .textos-tiare {
    margin: 20px;
  }
}
@media screen and (max-width: 400px) {
  .textos-tiare {
    margin: 20px;
  }
}

.button-uno {
  width: 130px;
  height: 45;
  border-radius: 5px;
  padding: 10px 0;
}
@media screen and (max-width: 767px) {
  .button-uno {
    width: 120px;
  }
}
@media screen and (max-width: 400px) {
  .button-uno {
    width: 95px;
  }
}

.reservas {
  height: 490px;
}
@media screen and (max-width: 767px) {
  .reservas {
    height: auto;
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .reservas {
    height: auto;
    padding: 10px 0;
  }
}

.titulo-reserva {
  margin-top: 100px;
}

.parrafo-reserva {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .parrafo-reserva {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 400px) {
  .parrafo-reserva {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .opcion-de-reserva {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 400px) {
  .opcion-de-reserva {
    margin: 20px;
  }
}

.servicios {
  height: 920px;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .servicios {
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  .servicios {
    height: auto;
  }
}

.titulo-servicios {
  margin-top: 100px;
  margin-bottom: 30px;
}

.items {
  width: 100%;
  height: 100%;
}

.img-servicio {
  width: 44%;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .img-servicio {
    width: 30%;
  }
}
@media screen and (max-width: 400px) {
  .img-servicio {
    width: 30%;
  }
}

.subtitulo-servicio {
  margin-top: 30px;
}

.texto-servicio {
  margin-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 767px) {
  .texto-servicio {
    margin-bottom: 30px;
    padding-left: 55px;
    padding-right: 55px;
  }
}
@media screen and (max-width: 400px) {
  .texto-servicio {
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.nuestra-empresa {
  height: 850px;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .nuestra-empresa {
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  .nuestra-empresa {
    height: auto;
    padding: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .textos-nuestra-empresa {
    margin-right: 30px;
  }
}
@media screen and (max-width: 400px) {
  .textos-nuestra-empresa {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .parrafo-empresa {
    margin-top: 10px;
  }
}

.img-empresa {
  width: 100%;
  height: auto;
  margin-right: 30px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .img-empresa {
    width: 80%;
    margin: 0 10px 20px 10px;
  }
}
@media screen and (max-width: 400px) {
  .img-empresa {
    width: 80%;
    margin: 0 20px 20px 30px;
  }
}

.float {
  right: 25px;
  bottom: 25px;
}

.footer {
  height: 320px;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .footer {
    height: auto;
    padding: 20px;
  }
}
@media screen and (max-width: 400px) {
  .footer {
    height: auto;
    padding: 10px;
  }
}

.texto-footer {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .texto-footer {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 400px) {
  .texto-footer {
    margin: 10px 0 5px 10px;
  }
}

.titulo-footer {
  margin: 20px 10px 0 10px;
}

.subtitulo-footer {
  margin: 10px 20px 10px 20px;
}
@media screen and (max-width: 767px) {
  .subtitulo-footer {
    margin-left: 30px;
    margin-right: 30px;
  }
}

[class^=footer-item] {
  margin-left: 50%;
}
@media screen and (max-width: 767px) {
  [class^=footer-item] {
    margin-left: 40%;
  }
}

.derechos {
  margin: 30px 0 10px 0;
}
@media screen and (max-width: 767px) {
  .derechos {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  .derechos {
    margin-bottom: 20px;
  }
}

/*** Fuentes del sitio ***/
.texto-mayor {
  font-weight: bold;
}

.texto-medio {
  font-weight: normal;
}

.texto-menor {
  font-weight: lighter;
}

body {
  font-family: "Raleway", sans-serif;
}

.navbar-toggler {
  font-size: 12px;
}

.navbar-collapse {
  font-family: "Kalam", cursive;
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  .navbar-collapse {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .navbar-collapse {
    font-size: 13px;
  }
}

.titulo-tiare,
.titulo-servicios,
.titulo-reserva,
.titulo-empresa {
  font-family: "Kalam", cursive;
  font-size: 40px;
}
@media screen and (max-width: 767px) {
  .titulo-tiare,
.titulo-servicios,
.titulo-reserva,
.titulo-empresa {
    font-size: 30px;
  }
}
@media screen and (max-width: 400px) {
  .titulo-tiare,
.titulo-servicios,
.titulo-reserva,
.titulo-empresa {
    font-size: 20px;
  }
}

.parrafo-tiare,
.parrafo-reserva,
.parrafo-empresa {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .parrafo-tiare,
.parrafo-reserva,
.parrafo-empresa {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .parrafo-tiare,
.parrafo-reserva,
.parrafo-empresa {
    font-size: 15px;
  }
}

.button-uno {
  font-family: "Kalam", cursive;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .button-uno {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .button-uno {
    font-size: 13px;
  }
}

.subtitulo-servicio {
  font-family: "Kalam", cursive;
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .subtitulo-servicio {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .subtitulo-servicio {
    font-size: 18px;
  }
}

.texto-servicio {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .texto-servicio {
    font-size: 17px;
  }
}
@media screen and (max-width: 400px) {
  .texto-servicio {
    font-size: 14px;
  }
}

.opcion {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .opcion {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .opcion {
    font-size: 15px;
  }
}

.scroll a {
  font-size: 40px;
}

.titulo-footer {
  font-family: "Kalam", cursive;
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .titulo-footer {
    font-size: 28px;
  }
}
@media screen and (max-width: 400px) {
  .titulo-footer {
    font-size: 19px;
  }
}

.subtitulo-footer {
  font-family: "Kalam", cursive;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .subtitulo-footer {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .subtitulo-footer {
    font-size: 13px;
  }
}

[class^=footer-item] a {
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  [class^=footer-item] a {
    font-size: 30px;
  }
}
@media screen and (max-width: 400px) {
  [class^=footer-item] a {
    font-size: 20px;
  }
}

.derechos {
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .derechos {
    font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  .derechos {
    font-size: 11px;
  }
}

/*** Colores del sitio ***/
.navbar > .container {
  background-color: #000000 !important;
}

.button-uno {
  background-color: #cd6032;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.bg-light,
.servicios,
.reservas,
.footer {
  background-color: #000000;
}

.header,
.nuestra-empresa {
  background-color: #fff;
}

.nav-link:hover {
  background-color: #cd6032 !important;
}

[class^=footer-item] a,
.scroll a {
  color: #cd6032;
}

.navbar-toggler,
.navbar-light,
.reservas,
.nav-link {
  color: #fff !important;
}

.button-uno,
.titulo-servicios,
.item,
.texto-reservas,
.footer,
.texto-footer {
  color: #fff;
}

.textos-tiare,
.nuestra-empresa {
  color: #000000;
}

.img,
.img-empresa {
  box-shadow: 5px 10px 18px #151515;
}

.img-servicios {
  box-shadow: 5px 8px 15px rgba(163, 163, 163, 0.4);
}

/*** Animaciones del sitio ***/
.nav-link:hover {
  transition: 0.5s;
}

.button-uno {
  cursor: pointer;
  transition: 0.2s ease all;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

/*** Body - Gral. ***/
body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  align-items: center;
  overflow: hidden;
}

/*** Navbar ***/
.navbar > .container {
  background-color: #000000 !important;
  height: 90px;
}

.bg-light {
  background-color: #000000 !important;
}

.img-logo {
  width: 100px;
  height: auto;
  margin-left: 35px;
}

.navbar-toggler {
  border-color: #fff !important;
  font-size: 12px;
}

.navbar-light .navbar-toggler {
  color: #fff !important;
  width: 30px;
  height: 15px;
}

.nav-link {
  color: #fff !important;
}

.navbar-nav {
  padding-bottom: 5px;
}

.nav-link:hover {
  background-color: #cd6032;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

/*** Header ***/
.header {
  height: 700px;
  display: flex;
  flex-direction: row;
}

.titulo-tiare {
  font-size: 35px;
  font-weight: bold;
}

.parrafo-tiare {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
}

.img-salon-eventos {
  grid-column: 7/12;
}

.img {
  box-shadow: 5px 10px 18px #151515;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.textos-tiare {
  grid-column: 2/6;
  margin-left: 30px;
}

.button-uno {
  height: 45px;
  width: 130px;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease all;
}

.button-uno {
  box-shadow: 5px 8px 15px #2c2c2c;
}

.button-uno:hover {
  box-shadow: 5px 8px 15px #cd6032;
}

/* Main - Reservas */
.reservas {
  background: #151515;
  color: #fff;
  height: 500px;
}

.texto-reservas {
  grid-column: 1/-1;
  color: #fff;
  text-align: center;
}

.titulo-reserva {
  font-size: 40px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 30px;
}

.parrafo-reserva {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-cotizar {
  grid-column: 1/-1;
  text-align: center;
}

.button-dos {
  font-family: "Kalam", cursive;
  height: 50px;
  width: 300px;
  background-color: #cd6032;
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  border-color: #cd6032;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease all;
}

.button-dos:hover {
  box-shadow: 5px 8px 15px #4a4949;
}

.opcion-de-reserva {
  grid-column: 2/-2;
  display: flex;
  margin: 20px 10px 10px 10px;
  padding-bottom: 30px;
}

.opcion {
  font-size: 18px;
  text-align: justify;
}

/*** Main - Servicios ***/
.servicios {
  background-color: #000000;
  height: 960px;
  padding: 20px;
}

.titulo-servicios {
  grid-column: 1/-1;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 30px;
}

.items {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.item {
  color: #fff;
}

.img-servicio {
  width: 44%;
  border-radius: 10px;
  box-shadow: 5px 8px 15px #2c2c2c;
}

.subtitulo-servicio {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
}

.texto-servicio {
  font-size: 18px;
  text-align: justify;
  margin-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

/* Main - Nuestra Empresa */
.nuestra-empresa {
  background-color: #fff;
  height: 850px;
  padding: 20px;
}

.textos-nuestra-empresa {
  grid-column: 7/-2;
  grid-row: 1/-1;
}

.titulo-empresa {
  font-size: 35px;
  font-weight: bold;
}

.parrafo-empresa {
  text-align: justify;
  font-size: 20px;
}

.img-nuestra-empresa {
  grid-column: 2/6;
  grid-row: 2/-1;
}

.img-empresa {
  width: 100%;
  height: auto;
  margin-right: 30px;
  box-shadow: 5px 10px 18px #151515;
  border-radius: 10px;
}

/* Scroll */
.scroll a {
  color: #cd6032;
  font-size: 40px;
}

.float {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

/*** Footer ***/
.footer {
  background-color: #000000;
  color: #fff;
  height: 320px;
  padding: 20px 0;
}

.texto-footer {
  grid-column: 1/-1;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.titulo-footer {
  font-size: 35px;
  font-weight: bold;
  margin: 20px 10px 0 10px;
}

.subtitulo-footer {
  font-size: 20px;
  margin: 10px 20px 10px 20px;
}

[class^=footer-item] a {
  color: #cd6032;
  font-size: 30px;
}

[class^=footer-item] {
  grid-column: span 4;
  margin-left: 50%;
}

.derechos {
  font-size: 15px;
  text-align: center;
  margin: 30px 0 10px 0;
}

/*** Media Queris ***/
/* Vista para TABLET */
@media screen and (max-width: 767px) {
  /* Navbar */
  .navbar > .container {
    height: 80px;
  }
  .navbar-light .navbar-toggler {
    color: #fff !important;
    width: 30px;
    height: 15px;
  }
  .img-logo {
    width: 90px;
    height: auto;
  }
  .nav-link {
    color: #fff !important;
    margin: 2px 10px;
  }
  .navbar-collapse {
    background-color: #000000;
    font-size: 18px;
  }
  .navbar-collapse {
    background-color: #000000;
    font-size: 15px;
    padding: 5px;
  }
  /* Header */
  .header {
    height: auto;
  }
  .img-salon-eventos {
    grid-column: 2/-2;
  }
  .img {
    max-width: 90%;
    margin: 0 20px 40px 20px;
  }
  .titulo-tiare {
    font-size: 30px;
    margin-top: 10px;
  }
  .parrafo-tiare {
    font-size: 18px;
  }
  .textos-tiare {
    grid-column: 2/-2;
    margin: 20px;
  }
  .button-uno {
    width: 130px;
    font-size: 16px;
  }
  /* Main - Reservas */
  .reservas {
    background: #151515;
    color: #fff;
    height: auto;
    padding: 10px;
  }
  .texto-reservas {
    grid-column: 1/-1;
  }
  .titulo-reserva {
    font-size: 30px;
    margin-top: 30px;
  }
  .parrafo-reserva {
    font-size: 18px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .button-dos {
    height: 50px;
    width: 240px;
    font-size: 22px;
  }
  .opcion-de-reserva {
    grid-column: 2/-2;
    display: flex;
    margin-bottom: 10px;
  }
  .opcion {
    font-size: 18px;
    text-align: justify;
  }
  /* Main - Servicios */
  .servicios {
    height: auto;
    padding: 20px;
  }
  .titulo-servicios {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .items {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
  }
  .item {
    color: #fff;
  }
  .img-servicio {
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 8px 15px #2c2c2c;
  }
  .subtitulo-servicio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
  }
  .texto-servicio {
    font-size: 17px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 55px;
    padding-right: 55px;
  }
  /* Main - Nuestra Empresa */
  .nuestra-empresa {
    background-color: #fff;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
  }
  .textos-nuestra-empresa {
    grid-column: 2/-1;
    grid-row: 1/2;
    text-align: justify;
    margin-right: 30px;
  }
  .titulo-empresa {
    font-size: 30px;
  }
  .parrafo-empresa {
    text-align: justify;
    font-size: 18px;
    margin-top: 10px;
  }
  .img-nuestra-empresa {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
  .img-empresa {
    width: 80%;
    height: auto;
    margin: 0 10px 20px 10px;
  }
  /* Scroll */
  .scroll a {
    display: none;
  }
  /* Footer */
  .footer {
    height: auto;
    padding: 20px;
  }
  .texto-footer {
    margin-bottom: 30px;
    text-align: center;
  }
  .titulo-footer {
    font-size: 28px;
  }
  .subtitulo-footer {
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
  }
  [class^=footer-item] a {
    font-size: 30px;
  }
  [class^=footer-item] {
    grid-column: span 4;
    margin-left: 40%;
  }
  .derechos {
    font-size: 13px;
    margin-bottom: 20px;
  }
}
/* Vista para MOBILE */
@media screen and (max-width: 400px) {
  /* Navbar */
  .navbar > .container {
    height: 70px;
  }
  .navbar-light .navbar-toggler {
    color: #fff !important;
    width: 30px;
    height: 15px;
  }
  .img-logo {
    width: 70px;
    height: auto;
  }
  .nav-link {
    color: #fff !important;
    margin: 2px 10px;
  }
  .navbar-collapse {
    background-color: #000000;
    font-size: 13px;
  }
  /* Header */
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  .header {
    height: auto;
    padding: 20px 0;
  }
  .titulo-tiare {
    font-size: 20px;
  }
  .textos-tiare {
    grid-column: 2/-2;
    margin: 20px;
  }
  .parrafo-tiare {
    font-size: 15px;
  }
  .img-salon-eventos {
    grid-column: 2/-2;
  }
  .img {
    max-width: 80%;
    margin: 0 20px 30px 30px;
  }
  .button-uno {
    height: 40px;
    width: 95px;
    font-size: 14px;
  }
  /* Main - Reservas */
  .reservas {
    background: #151515;
    color: #fff;
    height: auto;
    padding: 10px 0;
  }
  .texto-reservas {
    grid-column: 1/-1;
  }
  .button-dos {
    height: 40px;
    width: 180px;
    font-size: 18px;
  }
  .opcion-de-reserva {
    grid-column: 1/-1;
    display: flex;
    margin: 20px;
  }
  .titulo-reserva {
    font-size: 20px;
    margin-top: 30px;
  }
  .parrafo-reserva {
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .opcion {
    font-size: 15px;
    text-align: justify;
  }
  /* Main - Servicios */
  .servicios {
    height: auto;
    padding: 20px;
  }
  .titulo-servicios {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .items {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
  }
  .item {
    color: #fff;
  }
  .img-servicio {
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 8px 15px #2c2c2c;
  }
  .subtitulo-servicio {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
  }
  .texto-servicio {
    font-size: 14px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
  /* Main - Nuestra Empresa */
  .nuestra-empresa {
    height: auto;
    padding: 20px 0;
  }
  .titulo-empresa {
    font-size: 20px;
  }
  .parrafo-empresa {
    text-align: justify;
    font-size: 15px;
  }
  .img-empresa {
    width: 80%;
    height: auto;
    margin: 0 20px 20px 30px;
  }
  .textos-nuestra-empresa {
    margin-right: 20px;
    margin-left: 20px;
  }
  /* Scroll */
  .scroll a {
    display: none;
  }
  /* Footer */
  .footer {
    height: auto;
    padding: 10px;
  }
  .texto-footer {
    margin: 10px 0 5px 10px;
  }
  .titulo-footer {
    font-size: 19px;
  }
  .subtitulo-footer {
    font-size: 13px;
  }
  [class^=footer-item] a {
    font-size: 20px;
  }
  [class^=footer-item] {
    grid-column: span 2;
    margin-left: 50%;
  }
  .derechos {
    font-size: 11px;
    margin-bottom: 20px;
  }
}
/*** FORMULARIOS ***/
/* Formulario de contacto */
.formulario__uno {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 90px 50px 90px 50px;
}

.formulario__contactanos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  width: 60%;
  height: auto;
  padding: 20px 50px 20px 50px;
}

.formulario__contactanos {
  border-color: #cd6032;
  border-style: solid;
  box-shadow: 5px 10px 18px #151515;
  border-radius: 10px;
  border-width: 3px;
}

.titulo_contactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  padding: 20px 0 10px 0;
}

.texto_contactanos {
  display: flex;
  font-size: 18px;
  padding-bottom: 20px;
}

input[type=checkbox]:checked {
  width: 18px;
  height: 18px;
}

input[type=checkbox] {
  transition: all 0.4s;
}

.formulario__label {
  display: block;
  font-weight: bold;
  font-size: 15px;
  padding: 20px 0 10px 0;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background: #fff;
  border: 1px solid;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 10px;
  transition: 0.3s ease all;
}

.formulario__input:focus {
  border: 2px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
  color: #bb2929;
  font-size: 13px;
  margin: 10px 0 5px 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  margin-left: 5px;
  z-index: 100;
  font-size: 15px;
  opacity: 0;
}

.casilla__consulta {
  height: 100%;
  width: 100%;
  border: 1px solid;
  transition: 0.3s ease all;
}

.casilla__consulta:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.btn__dos {
  display: flex;
  flex-direction: row;
  padding: 10px 0 20px 40px;
  justify-content: flex-end;
}

.btn_volver {
  font-family: "Kalam", cursive;
  height: 45px;
  width: 90px;
  margin-left: 15px;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease all;
}

.formulario__btn {
  font-family: "Kalam", cursive;
  height: 45px;
  width: 150px;
  margin-left: 15px;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease all;
}

.btn_volver,
.formulario__btn {
  box-shadow: 5px 8px 15px #2c2c2c;
}

.formulario__btn:hover {
  box-shadow: 5px 8px 15px #cd6032;
}

.btn_volver:hover {
  box-shadow: 5px 8px 15px #cd6032;
}

/* -----  Estilos para Validacion ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #29c436;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 2px solid #bb2929;
}

/* Vista para TABLET */
/* Vista para MOBILE */
/*** Formulario de cotización ***/
.formulario__dos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 90px 20px 90px 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  width: 70%;
  height: auto;
  padding: 20px 50px 30px 50px;
}

.formulario {
  border-color: #cd6032;
  border-style: solid;
  box-shadow: 5px 10px 18px #151515;
  border-radius: 10px;
  border-width: 3px;
}

.titulo_cotizacion {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  padding: 20px 0 10px 0;
  align-items: center;
}

.texto_cotizacion {
  font-size: 18px;
  padding: 0 10px 20px 5px;
}

.palabra_servicio,
.palabra_fecha,
.palabra_horas,
.palabra_invitados {
  font-size: 16px;
  font-weight: bold;
}

#opciones {
  padding: 5px;
}

.opciones_evento {
  font-size: 15px;
  padding: 10px 0 10px 0;
  display: inline-block;
}

.opciones_evento > input {
  margin: 0 5px 0 20px;
}

.servicios_dos {
  display: flex;
  flex-direction: row; /*column para mobile*/
  padding: 5px;
}

.turnos {
  font-size: 15px;
  margin: 10px 0 10px 0;
  display: inline-block;
}

.turnos > input {
  margin: 0 5px 0 20px;
}

.servicios_salon {
  font-size: 15px;
  margin: 5px 5px 0 40px;
}

.servicio {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}

.opciones_tres {
  display: flex;
  flex-direction: row; /* column para mobile*/
  padding: 5px 5px 15px 5px;
}

.fecha {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}

.fecha_evento {
  margin-right: 50px;
}

.numHoras {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}

.cantidad_horas {
  margin-right: 50px;
}

.numPersonas {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}

.cantidad_personas {
  margin-right: 50px;
}

.btn_uno {
  display: flex;
  flex-direction: row;
  padding: 20px 0 10px 0;
  justify-content: flex-end;
}

.btn-volver {
  font-family: "Kalam", cursive;
  height: 45px;
  width: 90px;
  margin: 5px 15px 0 0;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease all;
}

.boton_cotizar {
  font-family: "Kalam", cursive;
  height: 45px;
  width: 170px;
  margin: 5px 15px 0 0;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease all;
}

.disabled-link {
  pointer-events: none;
  display: none;
}

.boton_reservar {
  font-family: "Kalam", cursive;
  height: 45px;
  width: 170px;
  margin: 5px 0 10px 25px;
  background-color: #cd6032;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  border-color: #cd6032;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease all;
}

.btn-volver,
.boton_reservar,
.boton_cotizar {
  box-shadow: 5px 8px 15px #2c2c2c;
}

.btn-volver:hover {
  box-shadow: 5px 8px 15px #cd6032;
}

.boton_reservar:hover {
  box-shadow: 5px 8px 15px #cd6032;
}

.boton_cotizar:hover {
  box-shadow: 5px 8px 15px #cd6032;
}

.result {
  font-size: 18px;
  font-weight: bold;
  margin: 17px 20px 12px 10px;
}

.result_reserva {
  font-size: 18px;
  font-weight: bold;
  margin: 17px 0 12px 10px;
}

.texto_reserva {
  font-size: 15px;
  font-weight: bold;
  color: #cd6032;
  margin-top: 18px;
  margin-right: 5px;
}

.formulario__input-error__tres {
  color: #bb2929;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 7px;
  display: none;
}

.formulario__input-error-activo__tres {
  display: block;
}

/* Vista para TABLET */
/* Vista para MOBILE */
/*** Formulario de reserva ***/
.formulario__tres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 90px 50px 90px 50px;
}

.formulario__reservar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  width: 60%;
  height: auto;
  padding: 20px 50px 20px 50px;
}

.formulario__reservar {
  border-color: #cd6032;
  border-style: solid;
  box-shadow: 5px 10px 18px #151515;
  border-radius: 10px;
  border-width: 3px;
}

.titulo_reservar {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  padding: 20px 0 30px 0;
  align-items: center;
}

.texto_reservar_uno {
  font-size: 20px;
  font-weight: bold;
}

.texto_reservar_dos {
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
}

.formulario__label__dos {
  display: block;
  font-weight: bold;
  font-size: 15px;
  padding: 20px 0 10px 0;
  cursor: pointer;
}

.formulario__grupo-input__dos {
  position: relative;
}

.formulario__input__dos {
  background: #fff;
  border: 1px solid;
  border-radius: 3px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 20px;
  transition: 0.3s ease all;
}

.formulario__input__dos:focus {
  border: 2px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error__dos {
  color: #bb2929;
  font-size: 13px;
  margin: 10px 0 5px 0;
  display: none;
}

.formulario__input-error-activo__dos {
  display: block;
}

input:disabled {
  background-color: rgba(240, 236, 236, 0.6431372549);
  color: #000000;
}

.formulario__validacion-estado__dos {
  position: absolute;
  margin-left: 5px;
  z-index: 100;
  font-size: 15px;
  opacity: 0;
}

.btn__tres {
  display: flex;
  flex-direction: row;
  padding: 30px 0 20px 40px;
  justify-content: flex-end;
}

.btn_salir {
  font-family: "Kalam", cursive;
  height: 45px;
  width: 90px;
  margin-left: 15px;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease all;
}

.formulario__btn__dos {
  font-family: "Kalam", cursive;
  height: 45px;
  width: 180px;
  margin-left: 15px;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease all;
}

.btn_salir,
.formulario__btn__dos {
  box-shadow: 5px 8px 15px #2c2c2c;
}

.btn_salir:hover {
  box-shadow: 5px 8px 15px #cd6032;
}

.formulario__btn__dos:hover {
  box-shadow: 5px 8px 15px #cd6032;
}

/* -----  Estilos para Validacion de formulario de reserva ----- */
.formulario__grupo-correcto__dos .formulario__validacion-estado__dos {
  color: #29c436;
  opacity: 1;
}

.formulario__grupo-incorrecto__dos .formulario__label__dos {
  color: #bb2929;
}

.formulario__grupo-incorrecto__dos .formulario__validacion-estado__dos {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto__dos .formulario__input__dos {
  border: 2px solid #bb2929;
}

/* Vista para TABLET */
/* Vista para MOBILE */

/*# sourceMappingURL=style.css.map */
