@charset "UTF-8";
/*** Base ***/ /*** Base del sitio ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
}

/*** Estructura del sitio ***/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.header {
  display: flex;
  flex-direction: row;
}

.img-salon-eventos {
  grid-column: 7/12;
}
@media screen and (max-width: 767px) {
  .img-salon-eventos {
    grid-column: 2/-2;
  }
}
@media screen and (max-width: 450px) {
  .img-salon-eventos {
    grid-column: 2/-2;
  }
}

.parrafo-reserva,
.derechos {
  text-align: center;
}

.parrafo-tiare,
.texto-servicio,
.opcion {
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .parrafo-tiare,
.texto-servicio,
.opcion {
    justify-content: center;
  }
}

.parrafo-empresa {
  text-align: justify;
}

.textos-tiare {
  grid-column: 2/6;
}
@media screen and (max-width: 767px) {
  .textos-tiare {
    grid-column: 2/-2;
  }
}

.button-uno {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.titulo-servicios {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.items {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .items {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.button-cotizar {
  grid-column: 1/-1;
  text-align: center;
}

.button-dos {
  display: inline-block;
  justify-content: center;
  cursor: pointer;
}

.texto-reservas {
  grid-column: 2/-2;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .texto-reservas {
    grid-column: 1/-1;
  }
}

.opcion-de-reserva {
  grid-column: 2/-2;
  display: flex;
}
@media screen and (max-width: 767px) {
  .opcion-de-reserva {
    grid-column: 2/-2;
  }
}
@media screen and (max-width: 450px) {
  .opcion-de-reserva {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 767px) {
  .nuestra-empresa {
    flex-wrap: wrap;
  }
}

.textos-nuestra-empresa {
  grid-column: 7/-2;
  grid-row: 1/-1;
}
@media screen and (max-width: 767px) {
  .textos-nuestra-empresa {
    grid-column: 2/-2;
    grid-row: 1/2;
    text-align: justify;
  }
}

.img-nuestra-empresa {
  grid-column: 2/6;
  grid-row: 2/-1;
}
@media screen and (max-width: 767px) {
  .img-nuestra-empresa {
    grid-column: 2/-2;
    grid-row: 2/3;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .scroll a {
    display: none;
  }
}

.float {
  position: fixed;
}

.texto-footer {
  grid-column: 1/-1;
  text-align: center;
}

[class^=footer-item] {
  grid-column: span 4;
}
@media screen and (max-width: 450px) {
  [class^=footer-item] {
    grid-column: span 2;
  }
}

/* Formulario de Contacto */
.formulario__uno {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .formulario__uno {
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .formulario__uno {
    display: flex;
    flex-direction: row;
  }
}

.formulario__contactanos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.titulo_contactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.texto_contactanos {
  display: flex;
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .texto_contactanos {
    text-align: justify;
  }
}

.formulario__label {
  display: block;
}

.formulario__label {
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input-error {
  display: none;
}

.formulario__input:focus {
  outline: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
}

.casilla__consulta:focus {
  outline: none;
}

.btn__dos {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn_volver {
  display: inline-block;
  cursor: pointer;
}

.formulario__btn {
  display: inline-block;
  cursor: pointer;
}

/* Formulario de Cotización */
.formulario__dos {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  overflow: hidden;
}

.formulario {
  grid-column: 1/-1;
}

.titulo_cotizacion {
  grid-column: 1/-1;
  text-align: center;
}

.texto_cotizacion {
  grid-column: 1/-1;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .texto_cotizacion {
    text-align: justify;
  }
}
@media screen and (max-width: 450px) {
  .texto_cotizacion {
    text-align: justify;
  }
}

#opciones {
  grid-column: 1/-1;
  text-align: center;
}

.opciones_evento {
  display: inline-block;
}

.servicios_dos {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .servicios_dos {
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .servicios_dos {
    flex-direction: column;
  }
}

.turnos {
  display: inline-block;
}

.opciones_tres {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .opciones_tres {
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .opciones_tres {
    flex-direction: column;
  }
}

.btn_uno {
  grid-column: 1/-1;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  .btn_uno {
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .btn_uno {
    justify-content: center;
    flex-direction: column;
    align-items: normal;
  }
}

.btn-volver {
  display: inline-block;
  cursor: pointer;
}

.boton_cotizar {
  cursor: pointer;
}

.disabled-link {
  pointer-events: none;
  display: none;
}

.boton_reservar {
  display: inline-block;
  cursor: pointer;
}

.disabled-reserva.texto_reserva {
  pointer-events: none;
  display: none;
}

.texto_reserva {
  display: inline-block;
}

.formulario__input-error__tres {
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.formulario__input-error-activo__tres {
  display: block;
}

/* Formulario de Reserva */
.formulario__tres {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .formulario__tres {
    justify-content: center;
  }
}

.formulario__reservar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.titulo_reservar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .titulo_reservar {
    text-align: center;
  }
}

.formulario__label__dos {
  display: block;
  cursor: pointer;
}

.formulario__grupo-input__dos {
  position: relative;
}

.formulario__input__dos:focus {
  outline: none;
}

.formulario__input-error__dos {
  display: none;
}

.formulario__input-error-activo__dos {
  display: block;
}

.formulario__validacion-estado__dos {
  position: absolute;
}

.btn__tres {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media screen and (max-width: 450px) {
  .btn__tres {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.btn_salir,
.formulario__btn__dos {
  display: inline-block;
  cursor: pointer;
}

/* Mensaje de error - botón ok */
div:where(.swal2-container) div:where(.swal2-popup) {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
}

/*** Medidas del sitio ***/
.navbar > .container {
  height: 80px;
}
@media screen and (max-width: 767px) {
  .navbar > .container {
    padding: 0.313rem 0.625rem 0.313rem 0.625rem;
  }
}
@media screen and (max-width: 450px) {
  .navbar > .container {
    height: 70px;
    padding: 0.313rem 0.625rem 0.313rem 0.625rem;
  }
}

.logo {
  padding-top: 29px;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

@media screen and (max-width: 767px) {
  .px-5 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
  }
}
@media screen and (max-width: 450px) {
  .px-5 {
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}

.navbar-toggler {
  padding: 0;
}

.navbar-nav {
  padding-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .navbar-nav {
    padding-top: 8px;
    padding-bottom: 0;
  }
}

.nav-link:hover {
  padding: 7px 5px 3px 5px;
  border-radius: 0.313rem;
}

.nav-link {
  margin-top: 22px;
}
@media screen and (max-width: 767px) {
  .nav-link {
    margin: 0.125rem 0 0.125rem 0;
  }
}
@media screen and (max-width: 450px) {
  .nav-link {
    margin: 2px;
  }
}

.header {
  padding-top: 70px;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 40px 30px;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .titulo-tiare {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.parrafo-tiare {
  margin-bottom: 15px;
}
@media screen and (max-width: 450px) {
  .parrafo-tiare {
    padding-right: 5px;
    padding-left: 0;
  }
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .img {
    max-width: 100%;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .img {
    max-width: 83%;
    margin-left: 34px;
  }
}

.textos-tiare {
  margin-left: 1.875rem;
}
@media screen and (max-width: 767px) {
  .textos-tiare {
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .textos-tiare {
    margin: 20px 34px 10px 34px;
  }
}

.button-uno {
  width: 140px;
  height: 45px;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .button-uno {
    width: 130px;
    padding: 12px 0;
  }
}
@media screen and (max-width: 450px) {
  .button-uno {
    height: 40px;
    width: 120px;
    margin-bottom: 0;
    padding: 10px 0;
  }
}

.reservas {
  height: auto;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .reservas {
    padding: 10px 0 40px 0;
  }
}
@media screen and (max-width: 450px) {
  .reservas {
    padding-bottom: 25px;
  }
}

.titulo-reserva {
  padding-top: 10px;
}
@media screen and (max-width: 767px) {
  .titulo-reserva {
    padding-top: 0;
  }
}
@media screen and (max-width: 450px) {
  .titulo-reserva {
    margin-bottom: 0;
    padding-bottom: 5px;
  }
}

.parrafo-reserva {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .parrafo-reserva {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 450px) {
  .parrafo-reserva {
    margin: 0 34px 5px 34px;
  }
}

.button-dos {
  height: auto;
  width: 450px;
  padding: 8px 20px 5px 20px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .button-dos {
    width: 322px;
    padding: 9px 20px 5px 20px;
  }
}
@media screen and (max-width: 450px) {
  .button-dos {
    width: 312px;
    padding: 6px 20px 4px 20px;
  }
}

@media screen and (max-width: 767px) {
  .opcion-de-reserva {
    margin-bottom: 0.625rem;
  }
}

.opcion {
  margin-bottom: 5px;
}

.servicios {
  height: auto;
  padding: 50px 20px;
}

.titulo-servicios {
  margin-top: 15px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .titulo-servicios {
    margin-bottom: 10px;
  }
}

.items {
  width: 100%;
  height: 100%;
}

.img-servicio {
  width: 55%;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .img-servicio {
    margin-top: 10px;
    margin-bottom: 0;
    width: 49%;
  }
}
@media screen and (max-width: 450px) {
  .img-servicio {
    width: 53%;
  }
}

.subtitulo-servicio {
  margin-top: 40px;
}

.texto-servicio {
  margin-top: 0.625rem;
  padding-left: 22%;
  padding-right: 22%;
  padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .texto-servicio {
    margin-top: 10px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 450px) {
  .texto-servicio {
    margin-top: 10px;
    padding-left: 23%;
    padding-right: 23%;
    padding-bottom: 0;
  }
}

.titulo-empresa {
  padding-top: 20px;
}
@media screen and (max-width: 450px) {
  .titulo-empresa {
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

.nuestra-empresa {
  padding: 60px 20px;
}
@media screen and (max-width: 767px) {
  .nuestra-empresa {
    padding: 40px 35px;
  }
}

@media screen and (max-width: 450px) {
  .textos-nuestra-empresa {
    padding: 10px 0 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .parrafo-empresa {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
}

.img-empresa {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 1.875rem;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .img-empresa {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .img-empresa {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.float {
  right: 1.563rem;
  bottom: 1.563rem;
}

.footer {
  height: 330px;
  padding: 40px 0 10px 0;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 45px 20px;
  }
}
@media screen and (max-width: 450px) {
  .footer {
    height: 340px;
    padding: 35px 10px 20px 10px;
  }
}

.texto-footer {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 767px) {
  .texto-footer {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 450px) {
  .texto-footer {
    margin: 0.625rem 0 0.313rem 0.625rem;
  }
}

.titulo-footer {
  margin: 1.25rem 0.625rem 0 0.625rem;
}

.subtitulo-footer {
  margin: 0.625rem 1.25rem 0.625rem 1.25rem;
}
@media screen and (max-width: 767px) {
  .subtitulo-footer {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 450px) {
  .subtitulo-footer {
    margin-left: 20px;
    margin-right: 20px;
  }
}

[class^=footer-item] {
  margin-left: 47%;
}
@media screen and (max-width: 767px) {
  [class^=footer-item] {
    margin-left: 42%;
  }
}
@media screen and (max-width: 450px) {
  [class^=footer-item] {
    margin-left: 48%;
  }
}

.derechos {
  margin-top: 45px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .derechos {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 450px) {
  .derechos {
    margin-top: 25px;
  }
}

/* Formulario de Contacto */
.formulario__uno {
  padding: 5.625rem 2.813rem 5.625rem 2.813rem;
}
@media screen and (max-width: 767px) {
  .formulario__uno {
    padding: 4.375rem 1.25rem 4.375rem 1.25rem;
  }
}
@media screen and (max-width: 450px) {
  .formulario__uno {
    padding: 60px 20px;
    min-width: 380px;
  }
}

.formulario__contactanos {
  width: 75%;
  height: auto;
  padding: 1.25rem 3.75rem 1.25rem 3.75rem;
  border-radius: 10px;
  border-width: 3px;
}
@media screen and (max-width: 767px) {
  .formulario__contactanos {
    width: 97%;
    padding: 1.25rem 2.188rem 1.25rem 2.188rem;
  }
}

.titulo_contactanos {
  padding: 1.25rem 0 0.625rem 0;
}
@media screen and (max-width: 450px) {
  .titulo_contactanos {
    padding: 0.625rem 0 0.625rem 0;
  }
}

.texto_contactanos {
  padding-bottom: 0.625rem;
}

input[type=checkbox]:checked {
  width: 18px;
  height: 18px;
}

.formulario__label {
  padding: 15px 0 2px 0;
}

.formulario__input {
  width: 100%;
  border-radius: 3px;
  height: 45px;
  line-height: 2.813rem;
  padding-left: 0.625rem;
}

.formulario__input-error {
  margin: 0.625rem 0 0.313rem 0;
}

.formulario__validacion-estado {
  margin-left: 0.313rem;
  z-index: 100;
  opacity: 0;
}

.casilla__consulta {
  height: 100%;
  width: 100%;
}

.btn__dos {
  padding: 0.625rem 0.625rem 1.25rem 0;
}
@media screen and (max-width: 450px) {
  .btn__dos {
    padding: 10px 10px 20px 0;
  }
}

.btn_volver {
  height: 45px;
  width: 90%;
  padding: 0.313rem;
  margin: 0 1.25rem 0 1.25rem;
  border-radius: 10px;
}
@media screen and (max-width: 450px) {
  .btn_volver {
    height: 45px;
    width: 98%;
    padding: 0;
    margin: 0 12px 0 16px;
  }
}

.formulario__btn {
  height: 45px;
  width: 90%;
  margin: 0 1.25rem 0 1.25rem;
  padding: 0.313rem;
  border-radius: 10px;
}
@media screen and (max-width: 450px) {
  .formulario__btn {
    margin: 0 20px 0 20px;
    width: 95%;
    padding: 5px 3px;
  }
}

/* Formulario de Cotización */
.formulario__dos {
  padding: 5.625rem 2.5rem 5.625rem 2.5rem;
}
@media screen and (max-width: 767px) {
  .formulario__dos {
    padding: 4.375rem 1.875rem 4.375rem 1.875rem;
  }
}
@media screen and (max-width: 450px) {
  .formulario__dos {
    padding: 60px 20px;
    min-width: 380px;
  }
}

.formulario {
  height: auto;
  padding: 1.25rem 0.625rem 1.25rem 0.625rem;
  border-radius: 10px;
}
@media screen and (max-width: 450px) {
  .formulario {
    width: 100%;
  }
}

.titulo_cotizacion {
  grid-column: 1/-1;
  margin-bottom: 5px;
  padding-top: 1.25rem;
}
@media screen and (max-width: 767px) {
  .titulo_cotizacion {
    padding: 1.25rem 1.25rem 0 1.25rem;
  }
}
@media screen and (max-width: 450px) {
  .titulo_cotizacion {
    padding: 1.25rem 1.563rem 0 1.563rem;
  }
}

.texto_cotizacion {
  padding: 0 20px 0 20px;
}
@media screen and (max-width: 767px) {
  .texto_cotizacion {
    padding: 0 35px 5px 35px;
  }
}
@media screen and (max-width: 450px) {
  .texto_cotizacion {
    padding: 0 20px 0 20px;
  }
}

#opciones {
  margin-right: 1.875rem;
  padding-top: 15px;
  margin-bottom: 0.938rem;
}
@media screen and (max-width: 767px) {
  #opciones {
    padding-top: 25px;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0 12px 10px 0;
  }
}
@media screen and (max-width: 450px) {
  #opciones {
    margin: 0;
    padding: 0 12px 10px 0;
  }
}

.opciones_evento > input {
  margin: 0 0.5rem 0 1.25rem;
}
@media screen and (max-width: 767px) {
  .opciones_evento > input {
    margin: 0 0.375rem 0 1.25rem;
  }
}
@media screen and (max-width: 450px) {
  .opciones_evento > input {
    margin: 15px 5px 5px 12px;
  }
}

.texto-turnos {
  margin-left: 0.313rem;
}
@media screen and (max-width: 767px) {
  .texto-turnos {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  .texto-turnos {
    margin-right: 0;
  }
}

.turnos > input {
  margin: 0 0.438rem 0 0.625rem;
}
@media screen and (max-width: 767px) {
  .turnos > input {
    margin: 0 0.313rem 1.25rem 0.625rem;
  }
}
@media screen and (max-width: 450px) {
  .turnos > input {
    margin: 0 5px 10px 12px;
  }
}

.palabra_servicio {
  margin-left: 1.25rem;
  margin-right: 0.625rem;
}
@media screen and (max-width: 767px) {
  .palabra_servicio {
    margin-top: 1.25rem;
    margin-right: 0.92rem;
    margin-left: 0;
  }
}
@media screen and (max-width: 450px) {
  .palabra_servicio {
    margin: 1.25rem 0.92rem 0.313rem 0;
  }
}

.servicios_salon {
  margin: 0 0.438rem 0 0.625rem;
}

.servicio {
  width: 100px;
  height: 30px;
  padding-left: 0.313rem;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .servicio {
    width: 132px;
  }
}
@media screen and (max-width: 450px) {
  .servicio {
    width: 132px;
  }
}

.opciones_tres {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}
@media screen and (max-width: 767px) {
  .opciones_tres {
    padding-top: 0;
  }
}
@media screen and (max-width: 450px) {
  .opciones_tres {
    padding-bottom: 0.625rem;
    padding-top: 0;
  }
}

.fecha_evento {
  margin-right: 0.625rem;
  margin-left: 1.063rem;
}
@media screen and (max-width: 767px) {
  .fecha_evento {
    margin-left: 0.625rem;
  }
}
@media screen and (max-width: 450px) {
  .fecha_evento {
    margin-left: 0.625rem;
  }
}

.cantidad_horas {
  margin-right: 0.625rem;
}
@media screen and (max-width: 767px) {
  .cantidad_horas {
    margin-left: 0.563rem;
  }
}
@media screen and (max-width: 450px) {
  .cantidad_horas {
    margin-left: 0.563rem;
  }
}

.cantidad_personas {
  margin-right: 0.625rem;
}
@media screen and (max-width: 767px) {
  .cantidad_personas {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 450px) {
  .cantidad_personas {
    margin-left: 0.5rem;
    margin-bottom: 5px;
  }
}

.fecha {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  margin: 0.313rem 0.938rem 0 0.625rem;
  padding: 0.313rem;
}
@media screen and (max-width: 767px) {
  .fecha {
    width: 141px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
}
@media screen and (max-width: 450px) {
  .fecha {
    width: 138px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
}

.numHoras {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  margin: 0.313rem 0.938rem 0 0.625rem;
  padding: 0.625rem;
}
@media screen and (max-width: 767px) {
  .numHoras {
    width: 122px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
}
@media screen and (max-width: 450px) {
  .numHoras {
    width: 122px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
}

.numPersonas {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  margin: 0.313rem 0.938rem 0 0.625rem;
  padding: 0.625rem;
}
@media screen and (max-width: 767px) {
  .numPersonas {
    width: 106px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
}
@media screen and (max-width: 450px) {
  .numPersonas {
    width: 106px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
}

.btn_uno {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media screen and (max-width: 767px) {
  .btn_uno {
    padding: 0.625rem 0 0.625rem 0;
  }
}
@media screen and (max-width: 450px) {
  .btn_uno {
    padding: 0 20px;
  }
}

.btn-volver {
  height: 45px;
  width: 70px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .btn-volver {
    width: 90px;
    margin: 0 0.625rem 0.625rem 0.625rem;
  }
}
@media screen and (max-width: 450px) {
  .btn-volver {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

.boton_cotizar {
  height: 45px;
  width: 80px;
  margin: 0 0 0 0.625rem;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .boton_cotizar {
    width: 90px;
    margin: 0 0.625rem 0.625rem 0;
  }
}
@media screen and (max-width: 450px) {
  .boton_cotizar {
    width: 100%;
    margin: 0 0.625rem 0.625rem 0;
  }
}

.boton_reservar {
  height: 45px;
  width: 95px;
  margin-right: 0.5rem;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .boton_reservar {
    width: 300px;
    margin-left: 0.5rem;
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 450px) {
  .boton_reservar {
    width: 100%;
    height: 43px;
    margin-left: 0;
    margin-bottom: 0.625rem;
  }
}

.result {
  margin: 0 0 0 0.938rem;
}
@media screen and (max-width: 767px) {
  .result {
    margin: 0.625rem 0 0.625rem 1.563rem;
  }
}
@media screen and (max-width: 450px) {
  .result {
    margin: 0.625rem 0 0.625rem 1.188rem;
  }
}

/* Formulario de Reserva */
.result_reserva {
  margin: 0 0.938rem 0 0;
}
@media screen and (max-width: 767px) {
  .result_reserva {
    margin: 0.625rem 0.638rem 0.625rem 0;
  }
}
@media screen and (max-width: 450px) {
  .result_reserva {
    margin: 0.625rem 0.938rem 0.625rem 0;
  }
}

.texto_reserva {
  margin: 0 0.625rem 0 0.938rem;
}
@media screen and (max-width: 767px) {
  .texto_reserva {
    margin: 1.25rem 1.938rem 1.25rem 1.563rem;
  }
}
@media screen and (max-width: 450px) {
  .texto_reserva {
    margin: 1.25rem 0.125rem 1.25rem 0.125rem;
  }
}

.formulario__input-error__tres {
  margin-top: 0.313rem;
}

.formulario__tres {
  padding: 5.625rem 2.813rem 5.625rem 2.813rem;
}
@media screen and (max-width: 767px) {
  .formulario__tres {
    padding: 4.375rem 1.25rem 4.375rem 1.25rem;
  }
}
@media screen and (max-width: 450px) {
  .formulario__tres {
    padding: 60px 20px;
    min-width: 380px;
  }
}

.formulario__reservar {
  width: 70%;
  height: auto;
  padding: 1.25rem 3.75rem 1.25rem 3.75rem;
  border-radius: 10px;
  border-width: 3px;
}
@media screen and (max-width: 767px) {
  .formulario__reservar {
    width: 95%;
    padding: 1.25rem 1.875rem 1.25rem 1.875rem;
  }
}
@media screen and (max-width: 450px) {
  .formulario__reservar {
    width: 100%;
  }
}

.titulo_reservar {
  padding: 1.25rem 0 0.938rem 0;
}

.texto_reservar_dos {
  padding-top: 2.5rem;
}

.formulario__label__dos {
  padding: 0.75rem 0 0.125rem 0;
}

.formulario__input__dos {
  border-radius: 3px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 1.25rem;
}

.formulario__input-error__dos {
  margin: 0.625rem 0 0.313rem 0;
}

.formulario__validacion-estado__dos {
  margin-left: 0.313rem;
  z-index: 100;
}

.btn__tres {
  padding: 1.875rem 0.5rem 1.25rem 0;
}
@media screen and (max-width: 767px) {
  .btn__tres {
    padding: 1.875rem 0.438rem 1.25rem 0;
  }
}
@media screen and (max-width: 450px) {
  .btn__tres {
    padding: 1.875rem 0 0.625rem 0;
  }
}

.btn_salir {
  height: 45px;
  width: 90%;
  padding: 0.313rem;
  margin: 0 1.25rem 0 1.063rem;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .btn_salir {
    margin: 0 1.063rem 0 1.063rem;
  }
}
@media screen and (max-width: 450px) {
  .btn_salir {
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.formulario__btn__dos {
  height: 45px;
  width: 90%;
  margin: 0 1.25rem 0 1.25rem;
  padding: 0.313rem;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .formulario__btn__dos {
    margin: 0 1.063rem 0 1.125rem;
  }
}
@media screen and (max-width: 450px) {
  .formulario__btn__dos {
    height: 40px;
    width: 100%;
    margin: 0 0 0.625rem 0;
    padding: 0;
  }
}

/* Mensaje de error - botón ok */
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  border: 0;
  border-radius: 10px;
  background: initial;
  width: 150px;
}

div:where(.swal2-container) button:where(.swal2-styled) {
  margin: 0.315px;
  padding: 8px;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  width: 27em;
  height: auto;
  max-width: 100%;
  padding: 0 0 2rem;
  border: none;
  border-radius: 10px;
}

/*** Fuentes del sitio ***/
.texto-mayor {
  font-weight: bold;
}

.texto-medio {
  font-weight: normal;
}

.texto-menor {
  font-weight: lighter;
}

body {
  font-family: "Raleway", sans-serif;
}

.logo {
  font-family: "Kalam", cursive;
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .logo {
    font-size: 34px;
  }
}
@media screen and (max-width: 450px) {
  .logo {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .fa-solid,
.fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 27px;
  }
}
@media screen and (max-width: 450px) {
  .fa-solid,
.fas {
    font-size: 22px;
  }
}

.navbar-collapse {
  font-family: "Kalam", cursive;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .navbar-collapse {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .navbar-collapse {
    font-size: 15px;
  }
}

.titulo-tiare,
.titulo-servicios,
.titulo-reserva,
.titulo-empresa {
  font-family: "Kalam", cursive;
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .titulo-tiare,
.titulo-servicios,
.titulo-reserva,
.titulo-empresa {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .titulo-tiare,
.titulo-servicios,
.titulo-reserva,
.titulo-empresa {
    font-size: 19px;
  }
}

.parrafo-tiare,
.parrafo-reserva,
.parrafo-empresa {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .parrafo-tiare,
.parrafo-reserva,
.parrafo-empresa {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .parrafo-tiare,
.parrafo-reserva,
.parrafo-empresa {
    font-size: 15px;
  }
}

.button-uno {
  font-family: "Kalam", cursive;
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  .button-uno {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .button-uno {
    font-size: 14px;
  }
}

.button-dos {
  font-family: "Kalam", cursive;
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .button-dos {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .button-dos {
    font-size: 17px;
  }
}

@media screen and (max-width: 450px) {
  .titulo-servicios {
    font-size: 19px;
  }
}

.subtitulo-servicio {
  font-family: "Kalam", cursive;
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .subtitulo-servicio {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .subtitulo-servicio {
    font-size: 18px;
  }
}

.texto-servicio {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .texto-servicio {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .texto-servicio {
    font-size: 14px;
  }
}

.opcion {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .opcion {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .opcion {
    font-size: 15px;
  }
}

.scroll a {
  font-size: 45px;
}

.titulo-footer {
  font-family: "Kalam", cursive;
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .titulo-footer {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  .titulo-footer {
    font-size: 19px;
  }
}

.subtitulo-footer {
  font-family: "Kalam", cursive;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .subtitulo-footer {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .subtitulo-footer {
    font-size: 15px;
  }
}

[class^=footer-item] a {
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  [class^=footer-item] a {
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  [class^=footer-item] a {
    font-size: 22px;
  }
}

.derechos {
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .derechos {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .derechos {
    font-size: 12px;
  }
}

/* Formulario de Contacto */
.titulo_contactanos {
  font-family: "Kalam", cursive;
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .titulo_contactanos {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .titulo_contactanos {
    font-size: 19px;
  }
}

.texto_contactanos {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .texto_contactanos {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .texto_contactanos {
    font-size: 15px;
  }
}

.formulario__label {
  font-family: "Kalam", cursive;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .formulario__label {
    font-size: 14px;
  }
}

.formulario__input {
  font-family: "Kalam", cursive;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .formulario__input {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .formulario__input {
    font-size: 16px;
  }
}

.formulario__input-error {
  font-size: 13px;
}

.formulario__validacion-estado {
  font-size: 15px;
}

.btn_volver,
.formulario__btn {
  font-family: "Kalam", cursive;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .btn_volver,
.formulario__btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .btn_volver,
.formulario__btn {
    font-size: 13px;
  }
}

/* Formulario de Cotización */
.titulo_cotizacion {
  font-family: "Kalam", cursive;
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .titulo_cotizacion {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .titulo_cotizacion {
    font-size: 19px;
  }
}

.texto_cotizacion {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .texto_cotizacion {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .texto_cotizacion {
    font-size: 15px;
  }
}

.palabra_servicio,
.palabra_fecha,
.palabra_horas,
.palabra_invitados {
  font-family: "Kalam", cursive;
  font-size: 16px;
}
@media screen and (max-width: 450px) {
  .palabra_servicio,
.palabra_fecha,
.palabra_horas,
.palabra_invitados {
    font-size: 15px;
  }
}

.opciones_evento {
  font-size: 22px;
  font-family: "Kalam", cursive;
}
@media screen and (max-width: 767px) {
  .opciones_evento {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .opciones_evento {
    font-size: 19px;
  }
}

.texto-turnos {
  font-family: "Kalam", cursive;
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  .texto-turnos {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .texto-turnos {
    font-size: 15px;
  }
}

.turnos {
  font-family: "Kalam", cursive;
}

.servicios_salon {
  font-size: 16px;
}
@media screen and (max-width: 450px) {
  .servicios_salon {
    font-size: 15px;
  }
}

.servicio {
  font-size: 14px;
  font-family: "Kalam", cursive;
}

.fecha {
  font-family: "Kalam", cursive;
  font-size: 14px;
}

.numHoras {
  font-family: "Kalam", cursive;
  font-size: 14px;
}

.numPersonas {
  font-family: "Kalam", cursive;
  font-size: 14px;
}

.btn-volver {
  font-family: "Kalam", cursive;
  font-size: 15px;
}
@media screen and (max-width: 450px) {
  .btn-volver {
    font-size: 13px;
  }
}

.boton_cotizar {
  font-family: "Kalam", cursive;
  font-size: 15px;
}
@media screen and (max-width: 450px) {
  .boton_cotizar {
    font-size: 13px;
  }
}

.boton_reservar {
  font-family: "Kalam", cursive;
  font-size: 15px;
}
@media screen and (max-width: 450px) {
  .boton_reservar {
    font-size: 13px;
  }
}

.result {
  font-family: "Kalam", cursive;
  font-size: 18px;
}
@media screen and (max-width: 450px) {
  .result {
    font-size: 16px;
  }
}

.result_reserva {
  font-family: "Kalam", cursive;
  font-size: 18px;
}
@media screen and (max-width: 450px) {
  .result_reserva {
    font-size: 16px;
  }
}

.texto_reserva {
  font-family: "Kalam", cursive;
  font-size: 20px;
}
@media screen and (max-width: 450px) {
  .texto_reserva {
    font-size: 17px;
  }
}

.formulario__input-error__tres {
  font-size: 13px;
}
/* Formulario de Reserva */
.titulo_reservar {
  font-family: "Kalam", cursive;
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .titulo_reservar {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .titulo_reservar {
    font-size: 19px;
  }
}

.texto_reservar_uno,
.texto_reservar_dos {
  font-family: "Kalam", cursive;
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  .texto_reservar_uno,
.texto_reservar_dos {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .texto_reservar_uno,
.texto_reservar_dos {
    font-size: 14px;
  }
}

.formulario__label__dos {
  font-family: "Kalam", cursive;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .formulario__label__dos {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .formulario__label__dos {
    font-size: 15px;
  }
}

.formulario__input__dos {
  font-family: "Kalam", cursive;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .formulario__input__dos {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .formulario__input__dos {
    font-size: 15px;
  }
}

.formulario__input-error__dos {
  font-size: 13px;
}

.formulario__validacion-estado__dos {
  font-size: 13px;
}

.btn_salir,
.formulario__btn__dos {
  font-family: "Kalam", cursive;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .btn_salir,
.formulario__btn__dos {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .btn_salir,
.formulario__btn__dos {
    font-size: 13px;
  }
}

/* Mensaje de error - botón ok */
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  font-weight: 600;
  font-size: 18px;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

/*** Colores del sitio ***/
.navbar > .container {
  background-color: #000000 !important;
}

.navbar-collapse {
  background-color: #000000;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.logo {
  color: #fff;
}

.button-uno,
.button-dos {
  background-color: #000000;
  box-shadow: 5px 5px 10px rgba(44, 44, 44, 0.568627451);
  color: #fff;
}

.bg-light {
  background-color: #000000 !important;
}

.servicios,
.footer {
  background-color: #000000;
}

.header,
.reservas,
.nuestra-empresa {
  background-color: #fff;
}

.nav-link:hover {
  background-color: #cd6032 !important;
}

[class^=footer-item] a,
.scroll a {
  color: #cd6032;
}

.nav-link {
  color: #fff !important;
}

@media screen and (max-width: 767px) {
  .navbar-light .navbar-toggler {
    color: #fff !important;
  }
}
.opciones_evento,
.texto_reservar_dos,
.texto_reservar_uno {
  color: #cd6032;
}

.button-uno,
.titulo-servicios,
.item,
.footer,
.texto-footer {
  color: #fff;
}

.texto-reservas,
.reservas {
  color: #000000;
}

.button-uno:hover {
  box-shadow: 5px 5px 10px #cd6032;
}

.textos-tiare,
.nuestra-empresa {
  color: #000000;
}

.img,
.img-empresa {
  box-shadow: 5px 10px 20px rgba(21, 21, 21, 0.6039215686);
}

.item {
  color: #fff;
}

/* Formulario de Contacto */
.formulario__contactanos {
  background-color: #fff;
}

.formulario__contactanos {
  border-color: #cd6032;
  border-style: solid;
  box-shadow: 5px 10px 20px rgba(21, 21, 21, 0.6039215686);
}

.formulario__input {
  background: #fff;
  border: 1px solid;
}

.formulario__input:focus {
  border: 2px solid #0075ff;
  box-shadow: 3px 10px 30px rgba(163, 163, 163, 0.262745098);
}

.formulario__input-error {
  color: #bb2929;
}

.formulario__validacion-estado {
  opacity: 0;
}

.casilla__consulta {
  border: 1px solid;
}

.casilla__consulta:focus {
  border: 3px solid #0075ff;
  box-shadow: 3px 10px 30px rgba(163, 163, 163, 0.262745098);
}

.btn_volver,
.formulario__btn {
  background-color: #000000;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(44, 44, 44, 0.568627451);
}

.formulario__btn:hover {
  box-shadow: 5px 5px 10px #cd6032;
}

.btn_volver:hover {
  box-shadow: 5px 5px 10px #cd6032;
}

/*  Estilos para Validacion - formulario de contacto */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #29c436;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 2px solid #bb2929;
}

/* Formulario de Cotización */
.formulario {
  background-color: #fff;
  border-color: #cd6032;
  border-style: solid;
  box-shadow: 5px 10px 20px rgba(21, 21, 21, 0.6039215686);
}

.btn-volver {
  background-color: #000000;
  color: #fff;
}

.boton_cotizar {
  background-color: #000000;
  color: #fff;
}

.boton_reservar,
.button-dos {
  background-color: #cd6032;
  color: #fff;
  border-color: #cd6032;
}

.texto_reserva,
.result_reserva {
  color: #cd6032;
}

.btn-volver,
.boton_reservar,
.boton_cotizar {
  box-shadow: 5px 5px 10px rgba(44, 44, 44, 0.568627451);
}

.btn-volver:hover {
  box-shadow: 5px 5px 10px #cd6032;
}

.boton_reservar:hover,
.button-dos:hover {
  box-shadow: 5px 5px 10px #cd6032;
}

.boton_cotizar:hover {
  box-shadow: 5px 5px 10px #cd6032;
}

.formulario__input-error__tres {
  color: #bb2929;
}

/* Formulario de Reserva */
.formulario__reservar {
  background-color: #fff;
}

.formulario__reservar {
  border-color: #cd6032;
  border-style: solid;
  box-shadow: 5px 10px 20px rgba(21, 21, 21, 0.6039215686);
}

.formulario__input__dos {
  background: #fff;
  border: 1px solid;
}

.formulario__input__dos:focus {
  border: 2px solid #0075ff;
  box-shadow: 3px 10px 30px rgba(163, 163, 163, 0.262745098);
}

.formulario__input-error__dos {
  color: #bb2929;
}

input:disabled {
  background-color: rgba(237, 236, 240, 0.6431372549);
  color: #cd6032;
}

.formulario__validacion-estado__dos {
  opacity: 0;
}

.btn_salir {
  background-color: #000000;
  color: #fff;
}

.formulario__btn__dos {
  background-color: #000000;
  color: #fff;
}

.btn_salir,
.formulario__btn__dos {
  box-shadow: 5px 5px 10px rgba(44, 44, 44, 0.568627451);
}

.btn_salir:hover {
  box-shadow: 5px 5px 10px #cd6032;
}

.formulario__btn__dos:hover {
  box-shadow: 5px 5px 10px #cd6032;
}

/* Estilos para Validacion - formulario de reserva */
.formulario__grupo-correcto__dos .formulario__validacion-estado__dos {
  color: #29c436;
  opacity: 1;
}

.formulario__grupo-incorrecto__dos .formulario__label__dos {
  color: #bb2929;
}

.formulario__grupo-incorrecto__dos .formulario__validacion-estado__dos {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto__dos .formulario__input__dos {
  border: 2px solid #bb2929;
}

/* Mensaje de error - botón ok */
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #7066e0;
  color: #fff;
}

div:where(.swal2-container) button:where(.swal2-styled) {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
}

div:where(.swal2-container) div:where(.swal2-popup) {
  background: #fff;
  color: #000000;
}

/*** Animaciones del sitio ***/
.nav-link:hover {
  transition: 0.5s;
}

.button-uno,
.button-dos {
  transition: 0.2s ease all;
}

/* Formulario de Contacto */
input[type=checkbox] {
  transition: all 0.4s;
}

.formulario__input,
.casilla__consulta {
  transition: 0.3s ease all;
}

.btn_volver,
.formulario__btn {
  transition: 0.2s ease all;
}

/* Formulario de Cotización */
.btn-volver,
.boton_cotizar,
.boton_reservar {
  transition: 0.2s ease all;
}

/* Formulario de Reserva */
.formulario__input__dos {
  transition: 0.3s ease all;
}

.btn_salir,
.formulario__btn__dos {
  transition: 0.2s ease all;
}

/* Mensaje de error - botón ok */
div:where(.swal2-container) button:where(.swal2-styled) {
  transition: box-shadow 0.1s;
}

/*# sourceMappingURL=style.css.map */
