/*** Colores del sitio ***/

$basePrimaria-color: #000000;
$baseSecundaria-color: #fff;
$baseTerciaria-color: #cd6032;
$fuenteSombra-primaria-color: #1515159a;
$fuenteSombra-secundaria-color: #a3a3a343;
$fuenteSombra-terciaria-color: #2c2c2c91;
$fuenteSombra-cuaternaria-color: #504e4e6d;
$base-color-input: #edecf0a4;
$base-validacion: #29c436;
$base-focus: #0075ff;
$base-error: #bb2929;

.navbar > .container {
  background-color: $basePrimaria-color !important;
}

.navbar-collapse {
  background-color: $basePrimaria-color;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.logo {
  color: $baseSecundaria-color;
}

.button-uno,
.button-dos {
  background-color: $basePrimaria-color;
  box-shadow: 5px 5px 10px $fuenteSombra-terciaria-color;
  color: $baseSecundaria-color;
}

.bg-light {
  background-color: $basePrimaria-color !important;
}
.servicios,
.footer {
  background-color: $basePrimaria-color;
}

.header,
.reservas,
.nuestra-empresa {
  background-color: $baseSecundaria-color;
}

.nav-link:hover {
  background-color: $baseTerciaria-color !important;
}

[class^="footer-item"] a,
.scroll a {
  color: $baseTerciaria-color;
}

.nav-link {
  color: $baseSecundaria-color !important;
}

@media screen and (max-width: 767px) {
  .navbar-light .navbar-toggler {
    color: $baseSecundaria-color !important;
  }
}

.opciones_evento,
.texto_reservar_dos,
.texto_reservar_uno {
  color: $baseTerciaria-color;
}

.button-uno,
.titulo-servicios,
.item,
.footer,
.texto-footer {
  color: $baseSecundaria-color;
}

.texto-reservas,
.reservas {
  color: $basePrimaria-color;
}

.button-uno:hover {
  box-shadow: 5px 5px 10px $baseTerciaria-color;
}

.textos-tiare,
.nuestra-empresa {
  color: $basePrimaria-color;
}

.img,
.img-empresa {
  box-shadow: 5px 10px 20px $fuenteSombra-primaria-color;
}

.item {
  color: $baseSecundaria-color;
}

/* Formulario de Contacto */

.formulario__contactanos {
  background-color: $baseSecundaria-color;
}

.formulario__contactanos {
  border-color: $baseTerciaria-color;
  border-style: solid;
  box-shadow: 5px 10px 20px $fuenteSombra-primaria-color;
}

.formulario__input {
  background: $baseSecundaria-color;
  border: 1px solid;
}

.formulario__input:focus {
  border: 2px solid $base-focus;
  box-shadow: 3px 10px 30px $fuenteSombra-secundaria-color;
}

.formulario__input-error {
  color: $base-error;
}

.formulario__validacion-estado {
  opacity: 0;
}

.casilla__consulta {
  border: 1px solid;
}

.casilla__consulta:focus {
  border: 3px solid $base-focus;
  box-shadow: 3px 10px 30px $fuenteSombra-secundaria-color;
}

.btn_volver,
.formulario__btn {
  background-color: $basePrimaria-color;
  color: $baseSecundaria-color;
  box-shadow: 5px 5px 10px $fuenteSombra-terciaria-color;
}

.formulario__btn:hover {
  box-shadow: 5px 5px 10px $baseTerciaria-color;
}

.btn_volver:hover {
  box-shadow: 5px 5px 10px $baseTerciaria-color;
}

/*  Estilos para Validacion - formulario de contacto */

.formulario__grupo-correcto .formulario__validacion-estado {
  color: $base-validacion;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: $base-error;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: $base-error;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 2px solid $base-error;
}

/* Formulario de Cotización */

.formulario {
  background-color: $baseSecundaria-color;
  border-color: $baseTerciaria-color;
  border-style: solid;
  box-shadow: 5px 10px 20px $fuenteSombra-primaria-color;
}

.btn-volver {
  background-color: $basePrimaria-color;
  color: $baseSecundaria-color;
}

.boton_cotizar {
  background-color: $basePrimaria-color;
  color: $baseSecundaria-color;
}

.boton_reservar,
.button-dos {
  background-color: $baseTerciaria-color;
  color: $baseSecundaria-color;

  border-color: $baseTerciaria-color;
}

.texto_reserva,
.result_reserva {
  color: $baseTerciaria-color;
}
.btn-volver,
.boton_reservar,
.boton_cotizar {
  box-shadow: 5px 5px 10px $fuenteSombra-terciaria-color;
}

.btn-volver:hover {
  box-shadow: 5px 5px 10px $baseTerciaria-color;
}

.boton_reservar:hover,
.button-dos:hover {
  box-shadow: 5px 5px 10px $baseTerciaria-color;
}

.boton_cotizar:hover {
  box-shadow: 5px 5px 10px $baseTerciaria-color;
}

.formulario__input-error__tres {
  color: $base-error;
}

/* Formulario de Reserva */

.formulario__reservar {
  background-color: $baseSecundaria-color;
}

.formulario__reservar {
  border-color: $baseTerciaria-color;
  border-style: solid;
  box-shadow: 5px 10px 20px $fuenteSombra-primaria-color;
}

.formulario__input__dos {
  background: $baseSecundaria-color;
  border: 1px solid;
}

.formulario__input__dos:focus {
  border: 2px solid $base-focus;
  box-shadow: 3px 10px 30px $fuenteSombra-secundaria-color;
}

.formulario__input-error__dos {
  color: $base-error;
}

input:disabled {
  background-color: $base-color-input;
  color: $baseTerciaria-color;
}

.formulario__validacion-estado__dos {
  opacity: 0;
}

.btn_salir {
  background-color: $basePrimaria-color;
  color: $baseSecundaria-color;
}

.formulario__btn__dos {
  background-color: $basePrimaria-color;
  color: $baseSecundaria-color;
}

.btn_salir,
.formulario__btn__dos {
  box-shadow: 5px 5px 10px $fuenteSombra-terciaria-color;
}

.btn_salir:hover {
  box-shadow: 5px 5px 10px $baseTerciaria-color;
}

.formulario__btn__dos:hover {
  box-shadow: 5px 5px 10px $baseTerciaria-color;
}

/* Estilos para Validacion - formulario de reserva */

.formulario__grupo-correcto__dos .formulario__validacion-estado__dos {
  color: $base-validacion;
  opacity: 1;
}

.formulario__grupo-incorrecto__dos .formulario__label__dos {
  color: $base-error;
}

.formulario__grupo-incorrecto__dos .formulario__validacion-estado__dos {
  color: $base-error;
  opacity: 1;
}

.formulario__grupo-incorrecto__dos .formulario__input__dos {
  border: 2px solid $base-error;
}
