/*** Medidas del sitio ***/

.navbar > .container {
  height: 90px;
  @media screen and (max-width: 767px) {
    height: 80px;
    padding: 0.313rem 0.625rem 0.313rem 0.625rem;
  }
  @media screen and (max-width: 400px) {
    height: 70px;
    padding: 0.313rem 0.625rem 0.313rem 0.625rem;
  }
}

.img-logo {
  width: 100px;
  height: auto;
  @media screen and (max-width: 767px) {
    width: 90px;
  }
  @media screen and (max-width: 400px) {
    width: 70px;
  }
}

.navbar-light .navbar-toggler {
  width: 30px;
  height: 15px;
}

.navbar-nav {
  padding-bottom: 0.313rem;
}

.nav-link:hover {
  padding: 0.313rem;
  border-radius: 0.313rem;
}

.nav-link {
  @media screen and (max-width: 767px) {
    margin: 0.125rem 0.625rem;
  }
  @media screen and (max-width: 400px) {
    margin: 0.125rem 0.625rem;
  }
}

.header {
  height: 700px;
  @media screen and (max-width: 767px) {
    height: auto;
  }
  @media screen and (max-width: 400px) {
    height: auto;
    padding: 1.25rem 0;
  }
}

.titulo-tiare {
  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }
}

.parrafo-tiare {
  margin-bottom: 0.625rem;
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    max-width: 90%;
    margin: 0 1.25rem 2.5rem 1.25rem;
  }
  @media screen and (max-width: 400px) {
    max-width: 80%;
    margin: 0 1.25rem 1.875rem 1.875rem;
  }
}

.textos-tiare {
  margin-left: 1.875rem;
  @media screen and (max-width: 767px) {
    margin: 1.25rem;
  }
  @media screen and (max-width: 400px) {
    margin: 1.25rem;
  }
}

.button-uno {
  width: 130px;
  height: 45px;
  border-radius: 5px;
  padding: 0.625rem 0;
  @media screen and (max-width: 767px) {
    width: 120px;
  }
  @media screen and (max-width: 400px) {
    width: 95px;
    padding: 0.313rem;
  }
}

.reservas {
  height: 490px;
  @media screen and (max-width: 767px) {
    height: auto;
    padding: 0.625rem;
  }
  @media screen and (max-width: 400px) {
    height: auto;
  }
}

.titulo-reserva {
  margin-top: 6.25rem;
  @media screen and (max-width: 767px) {
    margin-top: 1.875rem;
  }
  @media screen and (max-width: 400px) {
    margin-top: 1.875rem;
    margin-bottom: 0;
  }
}

.parrafo-reserva {
  margin-top: 1.25rem;
  @media screen and (max-width: 767px) {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  @media screen and (max-width: 400px) {
    margin-left: 0.313rem;
    margin-right: 0.313rem;
  }
}

.opcion-de-reserva {
  @media screen and (max-width: 767px) {
    margin-bottom: 0.625rem;
  }
  @media screen and (max-width: 400px) {
    margin: 1.25rem;
  }
}

.servicios {
  height: 960px;
  padding: 1.25rem;
  @media screen and (max-width: 767px) {
    height: auto;
  }
  @media screen and (max-width: 400px) {
    height: auto;
  }
}
.titulo-servicios {
  margin-top: 6.25rem;
  margin-bottom: 1.875rem;
}

.items {
  width: 100%;
  height: 100%;
}

.img-servicio {
  width: 44%;
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    width: 30%;
  }
  @media screen and (max-width: 400px) {
    width: 30%;
  }
}

.subtitulo-servicio {
  margin-top: 1.875rem;
}

.texto-servicio {
  margin-top: 0.625rem;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  @media screen and (max-width: 767px) {
    margin-bottom: 1.875rem;
    padding-left: 3.438rem;
    padding-right: 3.438rem;
  }
  @media screen and (max-width: 400px) {
    margin-bottom: 1.875rem;
    padding-left: 0.313rem;
    padding-right: 0.313rem;
  }
}

.nuestra-empresa {
  height: 850px;
  padding: 1.25rem;
  @media screen and (max-width: 767px) {
    height: auto;
  }
  @media screen and (max-width: 400px) {
    height: auto;
    padding: 1.25rem 0;
  }
}

.textos-nuestra-empresa {
  @media screen and (max-width: 767px) {
    margin-right: 1.875rem;
  }
  @media screen and (max-width: 400px) {
    margin-right: 1.875rem;
    margin-left: 1.25rem;
  }
}

.parrafo-empresa {
  @media screen and (max-width: 767px) {
    margin-top: 0.625rem;
  }
}

.img-empresa {
  width: 100%;
  height: auto;
  margin-right: 1.875rem;
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    width: 80%;
    margin: 0 0.625rem 1.25rem 0.625rem;
  }
  @media screen and (max-width: 400px) {
    width: 80%;
    margin: 0 1.25rem 1.25rem 1.875rem;
  }
}

.float {
  right: 1.563rem;
  bottom: 1.563rem;
}

.footer {
  height: 320px;
  padding: 1.25rem 0;
  @media screen and (max-width: 767px) {
    height: auto;
    padding: 1.25rem;
  }
  @media screen and (max-width: 400px) {
    height: auto;
    padding: 0.625rem;
  }
}

.texto-footer {
  margin-bottom: 2.5rem;
  @media screen and (max-width: 767px) {
    margin-bottom: 1.875rem;
  }
  @media screen and (max-width: 400px) {
    margin: 0.625rem 0 0.313rem 0.625rem;
  }
}

.titulo-footer {
  margin: 1.25rem 0.625rem 0 0.625rem;
}

.subtitulo-footer {
  margin: 0.625rem 1.25rem 0.625rem 1.25rem;
  @media screen and (max-width: 767px) {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
}

[class^="footer-item"] {
  margin-left: 47%;
  @media screen and (max-width: 767px) {
    margin-left: 41%;
  }
  @media screen and (max-width: 400px) {
    margin-left: 48%;
  }
}

.derechos {
  margin: 1.875rem 0 0.625rem 0;
  @media screen and (max-width: 767px) {
    margin-bottom: 1.25rem;
  }
  @media screen and (max-width: 400px) {
    margin-bottom: 1.25rem;
  }
}

/* Formulario de Contacto */

.formulario__uno {
  padding: 5.625rem 2.813rem 5.625rem 2.813rem;
  @media screen and (max-width: 767px) {
    padding: 4.375rem 1.25rem 4.375rem 1.25rem;
  }
  @media screen and (max-width: 400px) {
    padding: 2.5rem 1.563rem 2.5rem 1.563rem;
  }
}

.formulario__contactanos {
  width: 70%;
  height: auto;
  padding: 1.25rem 3.75rem 1.25rem 3.75rem;
  border-radius: 10px;
  border-width: 3px;
  @media screen and (max-width: 767px) {
    width: 97%;
    padding: 1.25rem 2.188rem 1.25rem 2.188rem;
  }
  @media screen and (max-width: 400px) {
    width: 100%;
    padding: 1.25rem 1.563rem 1.25rem 1.563rem;
  }
}

.titulo_contactanos {
  padding: 1.25rem 0 0.625rem 0;
  @media screen and (max-width: 400px) {
    padding: 0.625rem 0 0.625rem 0;
  }
}

.texto_contactanos {
  padding-bottom: 0.625rem;
}

input[type="checkbox"]:checked {
  width: 18px;
  height: 18px;
}

.formulario__label {
  padding: 0.938rem 0 0.125rem 0;
}

.formulario__input {
  width: 100%;
  border-radius: 3px;
  height: 45px;
  line-height: 2.813rem;
  padding-left: 0.625rem;
}

.formulario__input-error {
  margin: 0.625rem 0 0.313rem 0;
}

.formulario__validacion-estado {
  margin-left: 0.313rem;
  z-index: 100;
  opacity: 0;
}

.casilla__consulta {
  height: 100%;
  width: 100%;
  @media screen and (max-width: 400px) {
    height: 80%;
    width: 100%;
  }
}

.btn__dos {
  padding: 0.625rem 0.625rem 1.25rem 0;
  @media screen and (max-width: 400px) {
    padding: 0.625rem 1.25rem 0.625rem 0;
  }
}

.btn_volver {
  height: 45px;
  width: 90%;
  padding: 0.313rem;
  margin: 0 1.25rem 0 1.25rem;
  border-radius: 10px;
  @media screen and (max-width: 400px) {
    height: 40px;
    margin-top: 0.625rem;
  }
}

.formulario__btn {
  height: 45px;
  width: 90%;
  margin: 0 1.25rem 0 1.25rem;
  padding: 0.313rem;
  border-radius: 10px;
  @media screen and (max-width: 400px) {
    height: 40px;
    margin: 0.625rem 1.25rem 0 1.25rem;
  }
}

/* Formulario de Cotización */

.formulario__dos {
  padding: 5.625rem 2.5rem 5.625rem 2.5rem;
  @media screen and (max-width: 767px) {
    padding: 4.375rem 1.25rem 4.375rem 1.25rem;
  }
}

.formulario {
  height: auto;
  padding: 1.25rem 0.625rem 1.25rem 0.625rem;
  border-radius: 10px;
  border-width: 3px;
  @media screen and (max-width: 400px) {
    padding: 1.25rem 0.313rem 1.25rem 0.313rem;
    min-width: 265px;
  }
}

.titulo_cotizacion {
  grid-column: 1/-1;
  padding-top: 1.25rem;
  @media screen and (max-width: 767px) {
    padding: 1.25rem 1.25rem 0 1.25rem;
  }
  @media screen and (max-width: 400px) {
    padding: 1.25rem 1.563rem 0 1.563rem;
  }
}

.texto_cotizacion {
  padding: 0 0.625rem 0 0.625rem;
  @media screen and (max-width: 767px) {
    padding: 0 1.875rem 0 1.875rem;
  }
}

#opciones {
  margin-right: 1.875rem;
  padding-top: 1.875rem;
  margin-bottom: 0.938rem;
  @media screen and (max-width: 767px) {
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 400px) {
    margin: 0 0.625rem 0 0.625rem;
    padding: 0.625rem 1.25rem 1.25rem 1.25rem;
  }
}

.opciones_evento > input {
  margin: 0 0.5rem 0 1.25rem;
  @media screen and (max-width: 767px) {
    margin: 0 0.375rem 0 1.25rem;
  }
  @media screen and (max-width: 400px) {
    margin: 1.25rem 0 0.313rem 0;
  }
}

.texto-turnos {
  margin-left: 0.313rem;
  @media screen and (max-width: 767px) {
    margin-right: 0.375rem;
  }
  @media screen and (max-width: 400px) {
    margin-right: 0.813rem;
    margin-bottom: 0.625rem;
  }
}

.turnos > input {
  margin: 0 0.438rem 0 0.625rem;
  @media screen and (max-width: 767px) {
    margin: 0 0.313rem 1.25rem 0.625rem;
  }
  @media screen and (max-width: 400px) {
    margin: 0 0.313rem 0.625rem 0.625rem;
  }
}

.palabra_servicio {
  margin-left: 1.25rem;
  margin-right: 0.625rem;
  @media screen and (max-width: 767px) {
    margin-right: 0.813rem;
    margin-left: 0;
  }
  @media screen and (max-width: 400px) {
    margin: 0 0.813rem 0.313rem 0;
  }
}

.servicios_salon {
  margin: 0 0.438rem 0 0.625rem;
}

.servicio {
  width: 100px;
  height: 30px;
  padding-left: 0.313rem;
  border-radius: 5px;
  @media screen and (max-width: 767px) {
    width: 132px;
  }
  @media screen and (max-width: 400px) {
    width: 132px;
  }
}

.opciones_tres {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }
  @media screen and (max-width: 400px) {
    padding-bottom: 0.625rem;
    padding-top: 0;
  }
}

.fecha_evento {
  margin-right: 0.625rem;
  margin-left: 1.063rem;
  @media screen and (max-width: 767px) {
    margin-left: 0.625rem;
  }
  @media screen and (max-width: 400px) {
    margin-left: 0.625rem;
  }
}

.cantidad_horas {
  margin-right: 0.625rem;
  @media screen and (max-width: 767px) {
    margin-left: 0.563rem;
  }
  @media screen and (max-width: 400px) {
    margin-left: 0.563rem;
  }
}

.cantidad_personas {
  margin-right: 0.625rem;
  @media screen and (max-width: 767px) {
    margin-left: 0.5rem;
  }
  @media screen and (max-width: 400px) {
    margin-left: 0.5rem;
    margin-bottom: 0.625rem;
  }
}

.fecha {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  margin: 0.313rem 0.938rem 0 0.625rem;
  padding: 0.313rem;
  @media screen and (max-width: 767px) {
    width: 141px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
  @media screen and (max-width: 400px) {
    width: 141px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
}

.numHoras {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  margin: 0.313rem 0.938rem 0 0.625rem;
  padding: 0.625rem;
  @media screen and (max-width: 767px) {
    width: 122px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
  @media screen and (max-width: 400px) {
    width: 122px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
}

.numPersonas {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  margin: 0.313rem 0.938rem 0 0.625rem;
  padding: 0.625rem;
  @media screen and (max-width: 767px) {
    width: 106px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
  @media screen and (max-width: 400px) {
    width: 106px;
    margin: 0.313rem 0 0.625rem 0.625rem;
  }
}

.btn_uno {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  @media screen and (max-width: 767px) {
    padding: 0.625rem 0 0.625rem 0;
  }
  @media screen and (max-width: 400px) {
    padding: 0 0 0.625rem 0;
  }
}

.btn-volver {
  height: 45px;
  width: 70px;
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    width: 90px;
    margin: 0 0.625rem 0.625rem 0.625rem;
  }
  @media screen and (max-width: 400px) {
    width: 100%;
    margin: 0 0 0.625rem 0;
  }
}

.boton_cotizar {
  height: 45px;
  width: 80px;
  margin: 0 0 0 0.625rem;
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    width: 90px;
    margin: 0 0.625rem 0.625rem 0;
  }
  @media screen and (max-width: 400px) {
    width: 100%;
    margin: 0 0.625rem 0.625rem 0;
  }
}

.boton_reservar {
  height: 45px;
  width: 95px;
  margin-right: 0.5rem;
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    width: 300px;
    margin-left: 0.5rem;
    margin-bottom: 0.625rem;
  }
  @media screen and (max-width: 400px) {
    width: 67%;
    margin-left: 0.563rem;
    margin-bottom: 0.625rem;
  }
}

.result {
  margin: 0 0 0 0.938rem;
  @media screen and (max-width: 767px) {
    margin: 0.625rem 0 0.625rem 1.563rem;
  }
  @media screen and (max-width: 400px) {
    margin: 0.625rem 0 0.625rem 1.188rem;
  }
}

.result_reserva {
  margin: 0 0.938rem 0 0;
  @media screen and (max-width: 767px) {
    margin: 0.625rem 0.638rem 0.625rem 0;
  }
  @media screen and (max-width: 400px) {
    margin: 0.625rem 0.938rem 0.625rem 0;
  }
}

.texto_reserva {
  margin: 0 0.625rem 0 0.938rem;
  @media screen and (max-width: 767px) {
    margin: 1.25rem 1.938rem 1.25rem 1.563rem;
  }
  @media screen and (max-width: 400px) {
    margin: 1.25rem 0.125rem 1.25rem 0.125rem;
  }
}

.formulario__input-error__tres {
  margin-top: 0.313rem;
}

/* Formulario de Reserva */

.formulario__tres {
  padding: 5.625rem 2.813rem 5.625rem 2.813rem;
  @media screen and (max-width: 767px) {
    padding: 4.375rem 1.25rem 4.375rem 1.25rem;
  }
  @media screen and (max-width: 400px) {
    padding: 2.5rem 1.563rem 2.5rem 1.563rem;
  }
}

.formulario__reservar {
  width: 70%;
  height: auto;
  padding: 1.25rem 3.75rem 1.25rem 3.75rem;
  border-radius: 10px;
  border-width: 3px;
  @media screen and (max-width: 767px) {
    width: 97%;
    padding: 1.25rem 2.188rem 1.25rem 2.188rem;
  }
  @media screen and (max-width: 400px) {
    width: 100%;
    padding: 1.25rem 1.563rem 1.25rem 1.563rem;
  }
}

.titulo_reservar {
  padding: 1.25rem 0 0.625rem 0;
}

.texto_reservar_dos {
  padding-top: 1.875rem;
}

.formulario__label__dos {
  padding: 0.938rem 0 0.125rem 0;
}

.formulario__input__dos {
  border-radius: 3px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 1.25rem;
}

.formulario__input-error__dos {
  margin: 0.625rem 0 0.313rem 0;
}

.formulario__validacion-estado__dos {
  margin-left: 0.313rem;
  z-index: 100;
}

.btn__tres {
  padding: 1.875rem 0.5rem 1.25rem 0;
  @media screen and (max-width: 767px) {
    padding: 1.875rem 0.438rem 1.25rem 0;
  }
  @media screen and (max-width: 400px) {
    padding: 1.875rem 1.25rem 0.625rem 0;
  }
}

.btn_salir {
  height: 45px;
  width: 90%;
  padding: 0.313rem;
  margin: 0 1.25rem 0 1.063rem;
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    margin: 0 1.063rem 0 1.063rem;
  }
  @media screen and (max-width: 400px) {
    height: 40px;
  }
}

.formulario__btn__dos {
  height: 45px;
  width: 90%;
  margin: 0 1.25rem 0 1.25rem;
  padding: 0.313rem;
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    margin: 0 1.063rem 0 1.125rem;
  }
  @media screen and (max-width: 400px) {
    height: 40px;
    margin-bottom: 0.625rem;
  }
}
